<% layout('layout/page.ejs') %>
<div class="container">
    <div class="row">
        <h1><%= title %></h1>
        <p class="desc"><%= about %></p>
        <img src="<%= picture %>" width="800" height="500"  />
    </div>
</div>
<style>
    body {
        background: #000000 ;/* Цвет фона и путь к файлу */
        color: #fff; /* Цвет текста */
    }
</style>