

.thumbnaill {
    background-color: #000000;
    border: 1px solid #9C27B0;
    border-radius: 4px;
    text-shadow: 0px 0px 20px #baff00;
    padding: 4px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.snip{
    background-color: white;
    height: 170px;
    width: 500px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #9C27B0;
    border-radius: 4px;
}
.snip1{
    background-color: white;
    height: 170px;
    width: 500px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #9C27B0;
    border-radius: 4px;
}

.tool {
    font-size: 25px;
    width: 170px;
    color: black;
    text-align: right;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    padding-top: 30px;
    position: center;
}
.tool1 {
    font-size: 25px;
    width: 170px;
    color: black;
    text-align: right;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    padding-top: 30px;
    position: center;
}



.img1 {
    margin-left: 60px;
    background-color: white;
    width: 80px;
    height: 80px;
    display: block;
}

.img2 {
    margin-left: 60px;
    background-color: white;
    width: 80px;
    height: 80px;
    display: block;

}
.images{
    width: 70px;
    height: 70px;
}
.tex {
    width: 140px;
    height: 8px;
    margin-top: 40px;
}