.desc {
    padding-left: 15px;
    padding-right: 15px;
    margin-right : auto;
    margin-left : auto;
    color: #ffffff;
    background-color: black;
}



.thumbnail {
    background-color: #000000;
    border: 1px solid #9C27B0;
    text-shadow: 0px 0px 20px #baff00;
    margin-right : auto;
    margin-left : auto;
    margin-top: 20px;

}


.img-rounded {
    border-radius: 6px;
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
}




p {
    margin: 0 0px;
    margin-left: 30px;
}
