<!DOCTYPE html>
<html lang="en">
<head>
    <title>Koenigsegg</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Assistant:600" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/video.css">
    <link href="owl-carousel/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Koenigsegg</a>
        </div>
        <ul class="nav navbar-nav">
            <% if(typeof navigation == 'object' && navigation){
            navigation.forEach(function(item){
            %>
            <li><a href="/car/<%= item.nick %>"><%= item.title%></a></li>
            <%
            })}
            %>
            <li><a href="/Gallery">Gallery</a></li>
            <li><a href="/Video">Video</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <%if(user){%>
            <form action="/logout" method="post">
                <li><button type="submit" class="btn btn-link">Выйти</button></li>
            </form>
            <% } else { %>
            <li><a href="/logreg">Войти</a></li>
            <% } %>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <iframe  width="282" height="150" src="https://www.youtube.com/embed/FNZgW3eniO4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <iframe  width="282" height="150" src="https://www.youtube.com/embed/qeiKKgsvHyY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <iframe  width="282" height="150" src="https://www.youtube.com/embed/V8nyJMrW9bc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <iframe  width="282" height="150" src="https://www.youtube.com/embed/YWJWKDdMgtY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <iframe  width="282" height="150" src="https://www.youtube.com/embed/iWZkrvhQQes" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <iframe  width="282" height="150" src="https://www.youtube.com/embed/t1X-FZBfOI8"  frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <iframe  width="282" height="150" src="https://www.youtube.com/embed/R1g07RpTPFE" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <iframe  width="282" height="150" src="https://www.youtube.com/embed/6fdZLPocJkw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <iframe  width="282" height="150" src="https://www.youtube.com/embed/T5KL2rCVj1o" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<%- body %>
</body>
</html>